spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:2323/ecommerce
    username: root
    password: Root@3064016837
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        show_sql: true
        format_sql: true
